@import "poly-web-ui/src/scss/foundation/colors";

$foundation-palette: map-merge(
  $foundation-palette,
  (
    primary: #0083c3,
    secondary: #002d43,
  )
);

@import "poly-eshop4/eshop/ui/scss/settings";

$z-index: map-merge(
  $z-index,
  (
    // > 100 -> kombitool category tabs scroll bar
    shop-header: 101,
    itemlist-filters-mobile: 102,
  )
);

$stock-palette: (
  available: ("B", color(success),),
  not-available: ("B", color(alert),),
  partly-available: ("D", color(warning),),
) !default;

$flashmessage-palette: map-merge(
  $foundation-palette,
  (
    primary: color(primary),
    secondary: color(secondary),
  )
);

$prototype-separator-width: 50px;

$min-slider-height: 450px;
$max-slider-height: 600px;

// body
$body-background: color(secondary);

// header
$shopheader-background: color(primary);
$shopheader-mobile-background: $shopheader-background;
$shopheader-top-background: $shopheader-background;
$shopheader-top-color: color(white);
$shopheader-top-color-hover: color(secondary);
$shopheader-main-navigation-color: color(white);
$shopheader-main-navigation-texttransform: none;
$shopheader-icon-navigation-color: color(white);
$shopheader-hamburger-icon-color: $shopheader-icon-navigation-color;

// hamburger menu
$hamburger-background: color(secondary);
$hamburger-header-background: color(secondary);
$hamburger-footer-background: color(secondary);
$hamburger-nav-header-background: rgba(black, 0.25);

// subheader
$subheader-background-color: color(lightest-gray);
$subheader-font-color: color(black);

// footer
$shopfooter-line-color: rgba(white, 0.3);
$shopfooter-copyright-font-color: rgba(white, 0.3);

$breadcrumbs-item-font-size: 14px;
