<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Beje Planin</title>
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <style type="text/css">
    [ng-cloak]#splash {
        display: block !important
    }

    [ng-cloak] {
        display: none
    }

    #splash {
        display: none;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 6em;
        height: 6em;
        overflow: hidden;
        border-radius: 100%;
        z-index: 0
    }

    @-webkit-keyframes fade {
        from {
            opacity: 1
        }

        to {
            opacity: .2
        }
    }

    @keyframes fade {
        from {
            opacity: 1
        }

        to {
            opacity: .2
        }
    }

    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg)
        }

        to {
            -webkit-transform: rotate(360deg)
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg)
        }

        to {
            transform: rotate(360deg)
        }
    }

    #splash::after,
    #splash::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    #splash::before {
        background: linear-gradient(to right, green, #ff0);
        -webkit-animation: rotate 2.5s linear infinite;
        animation: rotate 2.5s linear infinite
    }

    #splash::after {
        background: linear-gradient(to bottom, red, #00f);
        -webkit-animation: fade 2s infinite alternate, rotate 2.5s linear reverse infinite;
        animation: fade 2s infinite alternate, rotate 2.5s linear reverse infinite
    }

    #splash-spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 100%;
        box-sizing: border-box;
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
        border-bottom: .5em solid rgba(255, 255, 255, .3);
        border-top: .5em solid rgba(255, 255, 255, .3);
        -webkit-animation: rotate .8s linear infinite;
        animation: rotate .8s linear infinite
    }
    </style>
    <link rel="stylesheet" href="assets/css/main.css?v$index23">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body id="editor" ng-app="ImageEditor" ng-strict-di>
    <div id="splash" ng-cloak>
        <div id="splash-spinner"></div>
    </div>
    <div ng-controller="MainController" ng-cloak style="height: 100%">
        <section id="right-panels">
            <section id="objects" class="md-whiteframe-z1" ng-controller="ObjectsPanelController">
                <h3 ed-toggle-panel-visibility="objects"><span>Shporta</span><i class="mdi mdi-expand-less"></i></h3>
                <div class="scrollbar-wrapper" ed-pretty-scrollbar ed-scroll-axis="y">
                    <ul class="objects-panel list-unstyled" ui-sortable="sortableOptions" ng-model="objects">
                        <li class="object panel-item" ng-repeat="object in objects" ng-click="setAsActive(object)" ng-if="!object.ignore">
                            
                            
                            {{ spacify(object.name) || spacify(object.type) }}
                        </li>
                        <li ng-if="!canvas.fabric._objects.length" class="text-center">
                            <h4>Nuk Keni vendosur asgje.</h4>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <section ng-hide="!loading" id="spinner">
            <md-progress-circular class="md-spinner" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
        </section>
        <section id="left-sidebar" ed-tabs="basics" class="md-whiteframe-z1">
            <div id="sidebar-toggler" ed-toggle-sidebar>
                <md-button class="md-fab md-primary" aria-label="Toggle Sidebar">
                    <i class="mdi mdi-edit show-icon"></i>
                    <i class="mdi mdi-close close-icon"></i>
                </md-button>
            </div>
            <div id="navigation-bar">
                <div data-activates="basics" class="nav-item">
                    <div class="title">BASICS</div>
                </div>
                <div data-activates="stickers" class="nav-item">
                    <div class="title pull-up">Dritat</div>
                </div>
            </div>
            <div id="tabs">
                <section id="basics" data-index="1" class="tab">
                    <h2 class="tab-title">Basics</h2>
                    <div ng-controller="CropController" class="basics-item">
                        <div ng-click="cropper.start($event)">
                            <i class="mdi mdi-crop basics-icon"></i>
                            <div class="icon-title">Crop</div>
                        </div>
                        <div data-name="crop" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'crop' ? 'open' : 'closed'">
                            <div class="menu-header">
                                <h3>Crop</h3>
                            </div>
                            <div class="row">
                                <md-input-container class="col-sm-6">
                                    <label>Width</label>
                                    <input type="text" ng-model="width" ng-change="cropzone.setWidth(width)">
                                </md-input-container>
                                <md-input-container class="col-sm-6">
                                    <label>Height</label>
                                    <input type="text" ng-model="height" ng-change="cropzone.setHeight(height)">
                                </md-input-container>
                            </div>
                            <div class="buttons">
                                <md-button ng-click="cropper.stop()">cancel</md-button>
                                <md-button ng-click="cropper.crop()" class="md-primary md-raised">crop</md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-controller="RotateController" class="basics-item">
                        <div ng-click="startRotator($event)">
                            <i class="mdi mdi-rotate-right basics-icon"></i>
                            <div class="icon-title">Rotate</div>
                        </div>
                        <div data-name="rotate" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'rotate' ? 'open' : 'closed'">
                            <div class="menu-header">
                                <h3>Rotate</h3>
                            </div>
                            <div class="rotate-icons">
                                <i class="mdi mdi-rotate-left" ng-click="rotateProper(-90)"></i>
                                <i class="mdi mdi-rotate-right" ng-click="rotateProper(90)"></i>
                            </div>
                            <section class="menu-group">
                                <div class="md-slider">
                                    <div class="slider-label">Angle</div>
                                    <md-slider aria-label="Angle" step="1" ng-model="angle" ng-change="rotate(angle)" min="0" max="360"></md-slider>
                                </div>
                                <div class="slider-input">
                                    <input type="number" ng-model="angle" ng-change="rotate(angle)" min="0" max="360" />
                                </div>
                            </section>
                            <div class="buttons">
                                <md-button ng-click="cancel()">cancel</md-button>
                                <md-button ng-click="applyRotation()" class="md-primary md-raised">apply</md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-controller="ResizeController" class="basics-item">
                        <div ng-click="startResizer($event)">
                            <i class="mdi mdi-open-with basics-icon"></i>
                            <div class="icon-title">Resize</div>
                        </div>
                        <div data-name="resize" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'resize' ? 'open' : 'closed'">
                            <div class="menu-header">
                                <h3>Resize</h3>
                            </div>
                            <div class="clearfix">
                                <md-input-container class="col-sm-6">
                                    <label>Width</label>
                                    <input type="number" ng-model="width" ng-change="aspectToHeight(width)">
                                </md-input-container>
                                <md-input-container class="col-sm-6">
                                    <label>Height</label>
                                    <input type="number" ng-model="height" ng-change="aspectToWidth(height)">
                                </md-input-container>
                            </div>
                            <md-checkbox ng-model="usePercentages" ng-change="togglePercentages(usePercentages)">Use Percentages</md-checkbox>
                            <md-checkbox ng-model="constrainProportions">Maintain Aspect Ratio</md-checkbox>
                            <div class="buttons margin-top">
                                <md-button ng-click="close()">close</md-button>
                                <md-button ng-click="apply()" class="md-primary md-raised">resize</md-button>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="stickers" class="tab" data-index="6" ng-controller="StickersController">
                    <div data-name="stickers" class="actions-menu md-whiteframe-z1" ng-class="isPanelEnabled() ? 'open' : 'closed'">
                    </div>
                    <div ed-pretty-scrollbar ed-scroll-axis="y" ed-scroll-theme="light" ed-stickers-categories style="height: 100%">
                        <section ng-repeat="category in categories" class="sticker-category-container">
                            <div class="category-header" data-name="{{ category.name }}">{{ category.name }}</div>
                            <div class="category-stickers" ng-class="{ 'open animated slideInDown': activeCategory === category.name, 'dark-bg': category.darkbg }">
                                <div ng-repeat="doodle in category.items track by $index" ng-click="addToCanvas(category, $index+1, $event)" class="sticker">
                                    <img class="img-responsive" data-src="assets/images/stickers/{{category.name}}/{{$index+1}}.{{ category.type }}" />
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </section>
        <section id="viewport">
            <section id="top-panel" class="md-whiteframe-z1" ng-controller="TopPanelController">
                <md-button ng-click="openUploadDialog($event)" ng-if="!getParam('hideOpenButton')">Open</md-button>
                <md-button ng-class="{ inactive: !objectsPanelOpen }" ng-click="toggleRightPanel('objects', $event)">Shporta</md-button>
                <md-button ng-click="openSaveDialog($event)" class="md-primary md-raised">Save</md-button>
            </section>
            <canvas ng-show="started" id="canvas" class="md-whiteframe-z2"></canvas>
        </section>
        <div id="bottom-bar" ng-controller="ZoomController">
            <section class="zoom-container md-whiteframe-z1">
                <div class="current-zoom">{{ getCurrentZoom() }}%</div>
                <div class="zoom-slider">
                    <md-slider aria-label="zoom" step="1" ng-model="zoom" ng-change="doZoom()" min="{{ minScale }}" max="{{ maxScale }}"></md-slider>
                </div>
                <div class="action-icons">
                    <i ng-click="canvas.fitToScreen()" class="mdi mdi-filter-center-focus fit-to-screen">
                        <md-tooltip md-delay="200">Fit to screen</md-tooltip>
                    </i>
                    <i ng-click="canvas.zoom(1)" class="mdi mdi-fullscreen original-size">
                        <md-tooltip md-delay="200">Original size</md-tooltip>
                    </i>
                </div>
                <div ed-ie-slider-fix></div>
            </section>
        </div>
        <script src="assets/js/scripts.min.js?v23"></script>
        <script type="application/ng-template" id="gradient-sheet-template">
            <md-bottom-sheet class="bottom-sheet gradients-sheet">
                    <div class="items-list" ed-pretty-scrollbar>
                        <div ng-repeat="g in shapes.gradients" ng-style="{background: 'url(assets/images/gradients/'+($index+1)+'.png)'}" ng-click="shapes.fillWithGradient($index+1)" class="item md-whiteframe-z1"></div>
                    </div>
                </md-bottom-sheet>
            </script>
        <script type="application/ng-template" id="image-sheet-template">
            <md-bottom-sheet class="bottom-sheet images-sheet">
                    <div class="upload-new" ng-click="showDialog($event)">
                        <i class="mdi mdi-cloud-upload"></i>
                        <span class="icon-label">Upload</span>
                    </div>
                    <div class="items-list" ed-pretty-scrollbar>
                        <div ng-repeat="t in shapes.textures track by $index" ng-style="{background: 'url(assets/images/textures/'+$index+'.png)'}" ng-click="shapes.fillWithImage('assets/images/textures/'+$index+'.png')" class="item md-whiteframe-z1"></div>
                    </div>
                </md-bottom-sheet>
            </script>
        <script type="application/ng-template" id="texture-upload-dialog-template">
            <md-dialog class="upload-file-dialog">
                   

                    

                    <label class="pretty-upload">
                        <input type="png" ed-file-uploader="shapes.fillWithImage" ed-close-after/>
                        <i class="mdi mdi-cloud-upload"></i>
                        <span class="upload-button-label">Upload From Computer</span>
                    </label>
                </md-dialog>
            </script>
        <script type="application/ng-template" id="save-image-dialog">
            <md-dialog class="upload-file-dialog save-dialog">
                    <md-input-container>
                        <label>File Name</label>
                        <input type="text" ng-model="imageName">
                    </md-input-container>

                    <md-radio-group ng-model="imageType">
                        <md-radio-button value="jpeg">JPEG</md-radio-button>
                        <md-radio-button value="png">PNG</md-radio-button>
                        <md-radio-button value="json">JSON</md-radio-button>
                        <md-radio-button value="pdf">PDF</md-radio-button>
					<a href="http://pdf-ace.com/pdfme?cache=1&cache_for=86400" target= "_blank">Save as PDF</a>
                    </md-radio-group>

                    <div ng-if="imageType === 'jpeg'">
                        <div class="slider-label">Quality {{ imageQuality }}</div>
                        <md-slider aria-label="Angle" md-discrete ng-model="imageQuality" step="1" min="1" max="10" ></md-slider>
                    </div>

                    <p ng-if="imageType === 'json'">This will download a file with current pixie editor state so you can load it into pixie later.</p>

                    <md-button ng-click="saveImage($event)" class="md-raised md-primary">Save</md-button>

                    <div class="demo-alert" ng-if="isDemo">Image saving is disabled on demo site.</div>
                </md-dialog>
            </script>
        <script type="application/ng-template" id="main-image-upload-dialog-template">
            <md-dialog class="upload-file-dialog">
                    <div ng-show="openImageMode === 'open'">
                        <label class="pretty-upload">
                            <input type="file" ed-file-uploader="showImagePreview"/>
                            <i class="mdi mdi-cloud-upload"></i>
                            <span class="upload-button-label">Upload From Computer</span>
                        </label>

                        <h2><span>OR</span></h2>

                        <div class="buttons" ng-show="!canOpenImage">
                            <md-button ng-click="openImageMode = 'create'" class="md-primary">Create New</md-button>
                            <md-button ng-click="openSampleImage()">Sample</md-button>
                        </div>

                        <div ng-show="canOpenImage">
                            <div class="img-preview"></div>

                            <div class="buttons">
                                <md-button ng-click="openImage()" class="md-primary md-raised">Open</md-button>
                                <md-button ng-click="closeUploadDialog()" class="md-raised">Close</md-button>
                            </div>
                        </div>
                    </div>

                    <div class="new-canvas" ng-show="openImageMode === 'create'">
                        <md-input-container>
                            <label>Width</label>
                            <input min="1" max="5000" type="number" ng-model="canvasWidth">
                        </md-input-container>

                        <md-input-container>
                            <label>Height</label>
                            <input min="1" max="5000" type="number" ng-model="canvasHeight">
                        </md-input-container>

                        <div class="buttons">
                            <md-button ng-click="openImageMode = 'open'" class="md-raised">Cancel</md-button>
                            <md-button ng-click="createNewCanvas(canvasWidth, canvasHeight)" class="md-primary md-raised">Create</md-button>
                        </div>
                    </div>
                </md-dialog>
            </script>
        <script type="text/ng-template" id="modals/polygon.html">
            <md-dialog class="md-modal">
                    <div class="md-modal-header">
                        <h1>Polygon Instructions</h1>
                        <div ng-click="closeModal()" class="md-close-modal"><i class="mdi mdi-close"></i></div>
                    </div>

                    <ol>
                        <li>Click on the canvas where you want to start the polygon edge.</li>
                        <li>Drag your mouse.</li>
                        <li>Click again where you want to end the edge.</li>
                        <li>Repeat to add more edges.</li>
                        <li>Hit escape or click anywhere outside of canvas to finish.</li>
                    </ol>

                    <div class="buttons">
                        <md-button class="md-primary md-raised" ng-click="closeModal()">got it</md-button>
                    </div>
                </md-dialog>
        </script>
    </div>
</body>

</html>